/* Mobile Styling */
.header-section {
  justify-content: flex-end;
  padding-top: 1.25em;
  padding-right: 1em;
}

.nav-list {
  display: none;
}

.toggled-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 250px 20px;
  background: #fff;
  background-image:
    url("../assets/menu/bg-top.svg"),
    url("../assets/menu/bg-bottom.svg"),
    url("../assets/menu/dots.svg"),
    url("../assets/menu/dots.svg");
  background-position: left top, bottom right, 80% 10%, 20% 80%;
  background-size: auto, contain, auto, auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav-link {
  color: #3a4a42;
  display: block;
  font-size: var(--fs-32);
  font-weight: var(--fw-600);
  margin-bottom: 20px;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  .header-section {
    justify-content: center;
    padding-bottom: 1.25em;
    border-bottom: 2px solid var(--br-header);
  }

  .menu-btn {
    display: none
  }

  .nav-list {
    display: flex;
    gap: 3.125em;
  }

  .nav-list a {
    color: var(--primary-clr);
    font-size: var(--fs-16);
    transition: all 200ms ease-in;
  }
}

/* Interaction */
.nav-list a:hover,
.nav-list a:focus {
  text-decoration: underline;
}
