/* !!! Custome Properties */
:root {
  /* colors */
  --primary-clr: #1a2236;
  --secondary-clr: #fff;
  --accent-clr: #98dede;

  /* Backgrounds */
  --bg-blue: #1c528a;
  --bg-red: #e2505c;
  --bg-yellow: #febf52;
  --bg-footer: #f9f9fa;

  /* Borders */
  --br-normal: #dfdfe0;

  /* Form, Inputs */
  --label-clr: #7d7c84;

  /* fonts */
  --ff-headings: 'Playfair Display', serif;
  --ff-normal: 'Poppins', sans-serif;

  /* font-size */
  --fs-50: 3.125rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-10: 0.625rem;

  /* font-weights */
  --fw-800: 800;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
}

/* !!! Reset Default CSS */
* {
  box-sizing: border-box;
  font: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: disc;
}

ul[role="list"] {
  list-style-type: none;
}

img {
  width: 100%;
}

button img {
  width: auto;
}

/* !!! Typography Style */
body {
  color: var(--primary-clr);
  font-family: var(--ff-normal);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
}

h1,
h2 {
  color: var(--primary-clr);
  font-family: var(--ff-headings);
  font-size: var(--fs-50);
  font-weight: var(--fw-400);
}

h3 {
  color: var(--secondary-clr);
  font-size: var(--fs-20);
  font-weight: var(--fw-300);
}

button {
  color: var(--secondary-clr);
  font-size: var(--fs-16);
  font-family: var(--fw-500);
}
