/* !!! Custome Properties */
:root {
  /* colors */
  --primary-clr: #1a2236;
  --secondary-clr: #fff;
  --accent-clr: #98dede;

  /* Backgrounds */
  --bg-blue: #1c528a;
  --bg-red: #e2505c;
  --bg-yellow: #febf52;
  --bg-footer: #f9f9fa;

  /* Borders */
  --br-normal: #dfdfe0;
  --br-header: #dddfe6;

  /* Form, Inputs */
  --label-clr: #7d7c84;
  --placeholder-clr: #7d7c84;

  /* fonts */
  --ff-headings: 'Playfair Display', serif;
  --ff-normal: 'Poppins', sans-serif;

  /* font-size */
  --fs-75: 4.688rem;
  --fs-60: 3.75rem;
  --fs-50: 3.125rem;
  --fs-40: 2.5rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-10: 0.625rem;

  /* font-weights */
  --fw-800: 800;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
}

/* !!! Reset Default CSS */
* {
  box-sizing: border-box;
  font: inherit;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: disc;
}

ul[role="list"] {
  list-style-type: none;
}

img {
  width: 100%;
}

button img,
a img {
  width: auto;
}

a {
  text-decoration: none;
}

input,
textarea {
  width: 100%;
}

/* !!! Typography Style */
body {
  color: var(--primary-clr);
  font-family: var(--ff-normal);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
}

h1,
h2 {
  color: var(--primary-clr);
  font-family: var(--ff-headings);
  font-size: var(--fs-50);
  font-weight: var(--fw-400);
  margin-bottom: 0.25em;
}

h3 {
  color: var(--secondary-clr);
  font-size: var(--fs-20);
  font-weight: var(--fw-300);
}

h4 {
  color: var(--secondary-clr);
  font-size: var(--fs-20);
  font-weight: var(--fw-800);
}

button {
  color: var(--secondary-clr);
  font-size: var(--fs-16);
  font-family: var(--fw-500);
  border-width: 1px;
  border-style: solid;
}

.input::placeholder {
  color: var(--placeholder-clr);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
}

label {
  color: var(--label-clr);
  font-size: var(--fs-10);
  font-weight: var(--fw-400);
}

/* !!! Mobile Style */
.bg-decoration {
  background: url("../assets/images/image_geometry_1.svg") no-repeat left top;
}

/* Display's */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.direction {
  flex-direction: column;
}

/* Sections */
.section {
  padding-block: 1.875em;
}

/* Container */
.container {
  padding-inline: 1em;
}

/* Header section Styles */
.header-section {
  justify-content: flex-end;
  padding-top: 1.25em;
  padding-right: 16px;
  position: relative;
}

.overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

.nav-bar {
  display: flex;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.toggled-menu {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 150px 20px;
  background: #fff;
  background-image: url('../assets/menu/bg-top.svg'), url('../assets/menu/bg-bottom.svg'), url('../assets/menu/dots.svg'), url('../assets/menu/dots.svg');
  background-position: left top, bottom right, 80% 10%, 20% 80%;
  background-size: auto, contain, auto, auto;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 0;
}

.nav-list {
  text-align: center;
  width: 100%;
}

.nav-link {
  color: #3a4a42;
  display: block;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-bottom: 20px;
}

/* Hero section Styles */
.hero-section {
  padding-top: 4.375em;
  gap: 2em;
}

/* Projects section Styles */
.project-details {
  background: var(--primary-clr);
  padding-block: 1.25em;
}

.features-container {
  gap: 0.5em;
  padding: 1em 0 1.25em 0;
}

.feature {
  background: var(--accent-clr);
  padding: 0.375em 0.625em;
}

/* About Section */
.about-container {
  gap: 2.5em;
}

.skills-list {
  row-gap: 1em;
  color: var(--secondary-clr);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
}

.skill-item {
  background-repeat: no-repeat;
  background-position: right bottom;
}

.blue-skill {
  background-color: var(--bg-blue);
  background-image: url("../assets/about-section/hash.svg");
  padding: 3.125em;
}

.red-skill {
  background-color: var(--bg-red);
  background-image: url("../assets/about-section/ic_framework.svg");
  padding: 3.125em;
}

.yellow-skill {
  background-color: var(--bg-yellow);
  background-image: url("../assets/about-section/ic_skills.svg");
  padding: 3.125em;
}

.skill-item_list {
  margin-top: 1em;
  margin-left: 1.25em;
}

/* Footer Section */
.footer-section {
  background-color: var(--bg-footer);
  margin-top: 3.125em;
  padding-bottom: 0;
}

.top-footer-container {
  padding-top: 6.25em;
  padding-bottom: 3.75em;
}

.inputs-lists {
  gap: 0.625em;
}

.input-item {
  position: relative;
}

.input-label {
  position: absolute;
  top: 0.5em;
  left: 1.5em;
}

.bottom-footer-container {
  background: var(--primary-clr);
  padding-top: 1.875em;
  padding-bottom: 2.5em;
  gap: 1.875em;
}

.social-links-list {
  justify-content: space-between;
}

/* Text contents Latout */
.hero-title {
  width: 183px;
  line-height: 100%;
}

.paragraph {
  margin-bottom: 2em;
}

/* Buttons */
.menu-btn {
  background: none;
  border: none;
  position: relative;
  z-index: 1;
}

.btn {
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: background color;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.primary-btn {
  background: var(--primary-clr);
  border-color: var(--primary-clr);
  padding-block: 0.75em;
  width: 100%;
}

.secondary-btn {
  background: none;
  border-color: var(--secondary-clr);
  padding: 0.625em;
}

/* Inputs */
.input {
  background: var(--secondary-clr);
  border: 2px solid var(--br-normal);
  border-radius: 4px;
  padding: 1.5em 0 0.5em 1em;
  transition: border 200ms ease-in;
}

/* Links */
.link {
  color: var(--accent-clr);
  font-size: var(--fs-16);
  font-weight: var(--fw-500);
  gap: 0.5em;
}

/* !!! Desktop Styles */
.hide {
  display: none;
}

/* !! Media Quieries */

/* Small tables and large phones */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 2em;
  }

  .section,
  .header-section {
    margin-inline: auto;
  }
}

/* Large tablet and laptop */
@media screen and (min-width: 1024px) {
  /* Typography */
  h1,
  h2 {
    font-size: var(--fs-75);
    width: auto;
  }

  h3 {
    font-size: var(--fs-40);
    font-weight: var(--fw-600);
  }

  label {
    font-size: var(--fs-14);
  }

  .h3-small {
    font-size: var(--fs-18);
  }

  .feature {
    font-size: var(--fs-10);
  }

  /* Display none-block */
  .hide {
    display: block;
  }

  .show-on-hover {
    opacity: 0;
    transition: all 200ms ease-in;
  }

  /* Body */
  .bg-decoration {
    background-image: none;
  }

  .container {
    padding-inline: 5em;
  }

  /* Section and container */
  .section,
  .header-section {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
  }

  /* Header Section */
  .header-section {
    justify-content: center;
    padding-block: 2.375em;
    border-bottom: 2px solid var(--br-header);
  }

  .nav-list {
    display: flex;
    gap: 3.125em;
  }

  .nav-item {
    color: var(--primary-clr);
    font-size: var(--fs-16);
    transition: all 200ms ease-in;
  }

  /* Hero Section */
  .hero-section {
    gap: 0;
    padding: 0;
    margin-bottom: 10em;
  }

  .hero-section.direction {
    flex-direction: row;
  }

  .hero-section .container {
    flex: 1;
    padding-left: 5em;
    padding-right: 3em;
    background: url("../assets/desktop/dots.svg") no-repeat right bottom;
  }

  .hero-img {
    flex: 1;
  }

  .hero-section .container.flex {
    justify-content: center;
  }

  /* Project Section */
  .projects-lists.grid {
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
  }

  /* Grid Span */
  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }

  /* Positions */
  .pos-relative {
    position: relative;
  }

  .pos-absolute {
    position: absolute;
  }

  .high-top-pos {
    top: -40%;
  }

  .top-pos {
    top: 0;
  }

  .bottom-pos {
    bottom: 0;
  }

  .project-heading-container {
    background: url("../assets/desktop/dots.svg") no-repeat right top;
    background-size: 50%;
    position: relative;
  }

  .primary-heading {
    transform-origin: right top;
    transform: rotate(-90deg);
    position: absolute;
    right: 90%;
  }

  .project-details {
    background: rgba(26, 34, 54, 85%);
    padding: 0.875em 1.875em 1.875em 1.875em;
    width: 100%;
  }

  .project-bg3 {
    background: url("../assets/desktop/projects-section/tow-squars.svg") no-repeat right 65%;
    background-size: 90%;
  }

  .project-card {
    width: 100%;
  }

  .phone-arrow {
    display: none;
    transition: all 200ms ease-in;
  }

  .width-30 {
    width: 70%;
  }

  /* About Section */
  .about-section .container {
    padding-block: 10em;
  }

  .about-section .direction {
    flex-direction: row-reverse;
  }

  .about-container {
    gap: 6em;
  }

  .about-container .about-content {
    flex: 1;
  }

  .about-container .skills-list {
    flex: 1.25;
  }

  .skills-list.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0;
  }

  .skill-item-bg-decoration {
    background: url("../assets/desktop/about-section/image_dots_with_teal.svg") no-repeat right bottom;
    background-size: 60%;
  }

  /* Footer Section */
  .footer-section .container {
    padding-inline: 0;
  }

  .footer-section .container.grid {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .top-bg-decoration {
    background: url("../assets/desktop/footer-section/image-geometry_6.svg") no-repeat left top;
    background-size: 90%;
  }

  .bottom-bg-decoration {
    background: url("../assets/desktop/footer-section/image-geometry_7.svg") no-repeat right bottom;
    background-size: 90%;
  }

  .top-footer-container {
    padding-inline: 8em;
  }

  .inputs-lists.flex.direction {
    flex-flow: row wrap;
    gap: 1em;
    justify-content: space-between;
  }

  .input-item {
    flex-basis: calc(50% - 1em);
  }

  .input-message-item {
    flex-basis: 100%;
  }

  .submit-btn-container {
    flex-grow: 1;
  }

  .submit-btn-container .btn {
    display: block;
    margin: auto;
    width: 40%;
  }

  .bottom-footer-container.container {
    padding-block: 3em;
    padding-inline: 5em;
  }

  .bottom-footer-container.flex.direction {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-links-list {
    flex-basis: 40%;
  }

  /* links */
  .link {
    flex-basis: 20%;
  }

  /* Inputs and labels */
  .input-label {
    position: relative;
    top: 0;
    left: 0;
  }

  .input {
    padding: 1em 1.25em;
  }

  /* Buttons */
  .menu-btn {
    display: none;
  }

  .primary-btn {
    width: 254px;
  }

  .secondary-btn {
    background: var(--secondary-clr);
    color: var(--primary-clr);
  }

  /* Images */
  .hero-img_phone {
    display: none;
  }
}

/* Interactions */
.menu-btn:hover,
.btn:hover {
  cursor: pointer;
}

.primary-btn:hover,
.primary-btn:focus {
  background: none;
  color: var(--primary-clr);
}

.secondary-btn:hover,
.secondary:focus {
  background: none;
  color: var(--secondary-clr);
}

.secondary-btn:hover .phone-arrow,
.secondary:focus .phone-arrow {
  display: inline;
}

.secondary-btn:hover .desktop-arrow,
.secondary:focus .desktop-arrow {
  display: none;
}

.input:focus {
  outline: none;
  border-color: var(--primary-clr);
}

.project-card:hover {
  cursor: pointer;
}

.project-card:hover .show-on-hover {
  cursor: pointer;
  opacity: 1;
}

.nav-item:hover,
.nav-item:focus {
  text-decoration: underline;
}
